{% extends "dy0.html" %}

{% block style %}
<style>
    div.text {
        width: 75%;
    }
    body {
    background-image: url('https://img.pixers.pics/pho_wat(s3:700/FO/17/54/32/40/700_FO17543240_eb26c5976745746fa8432bcb927f3606.jpg,700,583,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,533,jpg)/wall-murals-smiley-cool.jpg.jpg');
    background-repeat: no-repeat;
    background-size: 40% ;
    background-position: right top;
    }
</style>

{% endblock %}

{% block title %}
<h1 style="margin-left: 10px" >Hello, my name is Michael Lesko-Krleza</h1>
{% endblock %}

{% block body %}
<div class = "text">
    <p style="margin: 10px 200px 10px 40px" >My name is Michael Lesko-Krleza, and I am a Computer Engineering student in Concordia University. I am entering my fourth year of my studies, and I always wanted to join a fun school club where I could learn more.</p>
    <p style="margin: 10px 200px 10px 40px">I very much enjoy working in software development, but also enjoy tinkering with hardware. I have already worked on building an RC hovercraft, and a smart dog collar tracker with an Android application. These projects were great fun to me, which brought me interest in joining the Space Concordia Robotics division.</p>
    <h2 style="margin-left: 10px">Thank you, and I hope to get to know you all!</h2>
</div>
{% endblock %}