<!--Code dynamic update referenced from https://github.com/pratik55/Python-Flask-dynamic-update--->
{% extends "dy0.html" %}

{% block style %}
<style>
    body {
    background-image: url('https://i.kym-cdn.com/entries/icons/facebook/000/006/360/gottago.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
</style>
{% endblock %}

{% block title %}
<h1 style="margin-left: 10px">Arduino GUI</h1>
{% endblock %}

{% block body %}
<script type="text/javascript">
var intervalID = setInterval(update_values,1000);

  function update_values() {
        $.getJSON($SCRIPT_ROOT + '/_stuff',
               
      function(data) {
        $('#result').text(data.result);
        console.log(data)
      });
      
    };
    function stopTextColor() {
      clearInterval(intervalID);
    }
</script>
<body onload="update_values();">
    <div class = "text-center" style="height: 70px">
        <h3>
            Current Temperature:
            <span id="result">?</span>
            C
        </h3>
    
    <script>
    document.getElementById("result").innerHTML;
    </script>
      </div>
</body>
{% endblock %}

{% block button %}

<form action="/" method="POST">
  <div class = "text-center" style="height: 50px;">
     <p> Duration Between Each Blink (1-5 sec): 
      <input type="text" name="submitSpeed" value="">
      <input type="submit" name="submitBlinkSpeed" value="submit">
    </p>
  </div>
</form>

<form action="/" method="POST">
  <div class = "text-center" style="height: 60px;">
    <p> 
    <button type="submit" type="button" class="btn btn-info" name="submitTemp" value="Start Temperature" >Restart Temperature
    </button>
    <button type="button" class="btn btn-warning" onclick="stopTextColor();">Stop Temperature</button> 
  </p>
  </div>
</form>

  <form action="/" method="POST">
    <div class = "text-center">
        <p> 
        <input type="submit" type="button" class="btn btn-success btn-lg" name="submitOn" value="Turn On">
        <input type="submit" type="button" class="btn btn-danger btn-lg" name="submitOff" value="Turn Off">
        <input type="submit" type="button" class="btn btn-secondary btn-lg" name="submitBlink" value="Blink On">
      </p>
    </div>
  </form> 
{% endblock %}